appnope
asttokens
certifi
charset-normalizer
colorama
coloredlogs
comm
contourpy
cycler
debugpy
et_xmlfile
executing
filelock
flatbuffers
fonttools
fsspec
humanfriendly
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
ml_dtypes
mpmath
nest-asyncio2
networkx
numpy
onnx
onnxruntime
onnxslim
opencv-python
openpyxl
pandas
pandas-stubs
parso
pexpect
pillow
platformdirs
polars
polars-runtime-32
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
PyYAML
pyzmq
requests
scipy
setuptools
shapely
six
stack-data
sympy
torch
torchvision
tornado
traitlets
typing_extensions
ultralytics
ultralytics-thop
urllib3
wcwidth
wheel
xlsxwriter